@model Order;
@{
    ViewData["Title"] = "Bestelling";
    var messageType = TempData["MessageType"] as string;
    var message = TempData["Message"] as string;
    var productId = TempData["ProductId"] as int?;

    decimal? subtotalPrice = 0m;
}
@{
}


<div class="col-md-12">
    <div>
        <p>Uw winkelwagen</p>
    </div>
    <div class="border-1 rounded border">
        <table class="table">
            <tr>
                <th></th>
                <th></th>
                <th>Product</th>
                <th>Prijs</th>
                <th>Aantal</th>
                <th>Subtotaal</th>
            </tr>

            @foreach (var orderProduct in Model.Products)
            {
                <tr>
                    <td class="deleteProductBtn">
                        <a asp-controller="Orders" asp-action="DeleteProductFromCart" asp-route-productId="@orderProduct.ProductId">x</a>
                    </td>

                    <td class="cartProductImage">
                        <img class="img-fluid img-thumbnail" src="~/img/products/@(orderProduct.ProductId).png" onerror="this.src='/img/products/default.png';this.onerror=null" />
                    </td>

                    <td>@orderProduct.Product.Name</td>

                    <td>
                        @if (@orderProduct.Product.SalesPrice != null)
                        {
                            <div class="d-flex flex-column">
                                <p class="salesNormalPrice">@orderProduct.Product.Price</p>
                                <p>@orderProduct.Product.SalesPrice</p>
                            </div>
                        } else
                        {
                            @orderProduct.Product.Price
                        }
                    </td>

                    <td>
                        <div class="d-flex">
                            @orderProduct.ProductCount
                            <a class="btn btn-outline-dark btn-sm ms-1" asp-controller="Orders" asp-action="IncreaseSingleItemFromOrder" asp-route-productId="@orderProduct.ProductId">+</a>
                            <a class="btn btn-outline-dark btn-sm ms-1" asp-controller="Orders" asp-action="RemoveSingleItemFromOrder" asp-route-productId="@orderProduct.ProductId">-</a>
                        </div>
                        
                    </td>

                    <td>
                        @if (orderProduct.Product.SalesPrice != null)
                        {
                            @(orderProduct.Product.SalesPrice * orderProduct.ProductCount)
                            @(subtotalPrice += (orderProduct.Product.SalesPrice * orderProduct.ProductCount) )
                        } else
                        {
                            @(orderProduct.Product.Price * orderProduct.ProductCount)
                            @(subtotalPrice += (orderProduct.Product.SalesPrice * orderProduct.ProductCount) )
                        }
                    </td>
                </tr>
            }
        </table>

        <div class="d-flex align-content-center">
            <div class="d-flex justify-content-evenly col-md-8">
                <div>
                    <p>Subtotaal</p>
                    <p> @Model.SubtotalPrice</p>
                </div>
                <div>
                    <p>Totaal</p>
                    <p>@Model.TotalPrice</p>
                </div>
            </div>
            <div class="col-md-4">
                <a class="btn btn-warning" asp-controller="Orders" asp-action="PlaceOrder">Bestelling plaatsen</a>
                <a class="btn btn-light" asp-controller="Orders" asp-action="CancelOrder">Bestelling annuleren</a>
            </div>
        </div>
    </div>
</div>


@if (!String.IsNullOrEmpty(messageType) && !String.IsNullOrEmpty(message))
{
    @section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#messageModal').modal('show');
        });
    </script>
    }

    <div class="modal" tabindex="-1" id="messageModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    @switch (messageType)
                    {
                        case "error":
                            <h5 class="modal-title">ERROR</h5>
                            break;
                        case "success":
                            <h5 class="modal-title">Gelukt</h5>
                            break;
                        case "confirmation":
                            <h5 class="modal-title">Bevestig</h5>
                            break;
                        default:
                            <h5 class="modal-title">Default Title</h5>
                            break;
                    }
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>@message</p>
                </div>
                <div class="modal-footer">

                    @switch (messageType)
                    {
                        case "confirmation":
                            <a class="btn btn-warning" asp-controller="Orders" asp-action="PlaceOrderConfirmed">Plaats bestelling</a>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Terug</button>
                            break;
                        case "success":
                            <a class="btn btn-warning" asp-controller="Orders" asp-action="Index">Naar bestellingen</a>
                            break;
                        default:
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            break;
                    }

                </div>
            </div>
        </div>
    </div>
}