@model ProductListViewModel

@{
    ViewData["Title"] = "Bestellen";
    var messageType = TempData["MessageType"] as string;
    var message = TempData["Message"] as string;
    var productId = TempData["ProductId"] as int?;
    var orderId = ViewContext.HttpContext.Session.GetInt32("OrderId");
}

<div class="col-md-12 px-0 coverpage center">
    <img class="img-fluid" src="img/frontpage.png" />
</div>

<div class="d-flex m-0" id="shoppingcart">
    <img src="~/img/svg/shopping-cart.svg" width="16" height="24" />
    <a class="text-decoration-none text-black m-0 ms-1" asp-controller="Orders" asp-action="Cart">@Model.OrderProductCount items in je winkelwagen</a>
</div>

<hr class="mb-1 mt-1"/>

<div class="col-md-12 d-flex">
    <div class="col-md-1 align-self-start">
        <p class="text-black fw-bold text-decoration-underline m-0">Categorieën</p>
        <ul class="p-0 m-0">
            <li>
                <a href="#" onclick="showProductsByCategory(-1)">Alles</a>
            </li>
            @if (Model.Categories != null)
            {
                @foreach (var category in Model.Categories)
                {
                    <li>
                        <a href="#" onclick="showProductsByCategory(@category.CategoryId)">@category.Name</a>
                    </li>
                }
            }
            
        </ul>
    </div>
    <div class="col-md-11 d-flex flex-column">
        <div id="product-selection" class="col-md-12 d-flex flex-row justify-content-evenly flex-wrap">
            @if (Model.Products != null)
            {
                @foreach (var product in Model.Products)
                {
                    string categories = $"";
                    @if (product.Categories != null)
                    {
                        @foreach (var category in product.Categories)
                        {
                            categories += $"categoryId-{category.CategoryId} ";
                        }
                    }

                    <div class="productContainer d-flex flex-column border border-dark border-2 rounded m-3 @categories">
                        <img class="productImage" src="~/img/products/@(product.ProductId).png" onerror="this.src='/img/products/default.png';this.onerror=null" />

                        <div class="d-flex flex-column p-1 h-100">
                            <!-- naam en prijs div -->
                            <div class="d-flex">

                                <!-- linker kolom -->
                                <div class="col-md-8">
                                    <p>@product.Name</p>
                                </div>

                                <!-- rechter kolom -->
                                <div class="col-md-4">
                                    @if (product.SalesPrice == null)
                                    {
                                        <p>€@product.Price</p>
                                    } else
                                    {
                                        <p class="salesNormalPrice p-0 m-0">€@product.Price</p>
                                        <p class="salesPrice p-0 mt-0">€@product.SalesPrice</p>
                                    }
                                </div>
                            </div>

                            <!-- Button -->
                            <div class="d-flex justify-content-center mb-0 mt-auto">
                                <a class="btn btn-warning rounded-3" asp-controller="Products" asp-action="CustomizeProduct" asp-route-id="@product.ProductId">Toevoegen</a>
                            </div>
                            
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

@if (!String.IsNullOrEmpty(messageType) && !String.IsNullOrEmpty(message))
{
    // Dit zorgt ervoor dat de bootstrap modal standaard wordt getoont indien er een message beschikbaar is.
    @section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#messageModal').modal('show');
        });
    </script>
    }

    <div class="modal" tabindex="-1" id="messageModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    @switch (messageType)
                    {
                        case "error":
                            <h5 class="modal-title">ERROR</h5>
                            break;
                        case "confirmation":
                            <h5 class="modal-title">Artikel Verwijderen</h5>
                            break;
                        case "success":
                        case "success_addedproduct":
                            <h5 class="modal-title">Gelukt</h5>
                            break;
                        default:
                            <h5 class="modal-title">Default Title</h5>
                            break;
                    }
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>@message</p>
                </div>
                <div class="modal-footer">
                    @if (messageType.Equals("confirmation") && productId != null)
                    {
                        <a class="btn btn-warning" asp-area="" asp-controller="Products" asp-action="DeleteProductConfirmed" asp-route-id="@productId">Bevestig</a>
                    }

                    @if (messageType.Equals("success_addedproduct") && orderId != null)
                    {
                        <a class="btn btn-warning" asp-area="" asp-controller="Orders" asp-action="Cart">Naar winkelwagen</a>
                    }

                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}