@model ProductOrderViewModel
@{
    ViewData["Title"] = "Product samenstellen";
}

<div class="text-center fw-bold">
    <h3>Artikel samenstellen</h3>
</div>

<div class="alert alert-warning">
    Het kiezen van keuzeopties werkt momenteel nog niet.
</div>

<div class="border-1 rounded border p-4 d-flex">
    @using (Html.BeginForm("AddProductToOrder", "Products", new { ProductOrderViewModel = Model}, FormMethod.Post, false, new { @class="d-flex col-md-12"}))
    {
        @Html.AntiForgeryToken();
        <!-- Linker kolom -->
        <div class="col-md-4">
            <div class="row col-md-12 mb-2">
                <img src="~/img/products/@(Model.ProductOrder.ProductId).png" class="img-fluid" id="productPhoto" />
            </div>

            <div class="row col-md-12 mb-1">
                <label asp-for="@Model.ProductOrder.Product.Stock" class="col-form-label col-md-4">Voorraad</label>
                <div class="col-md-8">
                    <label class="col-form-label">@Model.ProductOrder.Product.Stock stuks</label>
                </div>
            </div>

            <div class="row col-md-12 mb-1">
                <label class="col-form-label col-md-4">Categorieën</label>
                <div class="col-md-8">
                    <ul class="list-group list-group-flush">
                        @if (Model.ProductOrder.Product.Categories != null)
                        {
                            foreach (var cat in Model.ProductOrder.Product.Categories)
                            {
                                <li class="list-group-item p-0">@cat.Name</li>
                            }
                        }
                        else
                        {
                            <li class="list-group-item p-0">Geen categorie</li>
                        }
                    </ul>
                </div>
            </div>

            <div class="row col-md-12 mb-1">
                <label asp-for="@Model.ProductOrder.Product.Tax" class="col-form-label col-md-4">BTW</label>
                <div class="col-md-8">
                    <label class="col-form-label">@Model.ProductOrder.Product.Tax%</label>
                </div>
            </div>

            <div class="row col-md-12 mb-1">
                <label asp-for="@Model.ProductOrder.Product.ProductId" class="col-form-label col-md-4">Artikelnummer</label>
                <div class="col-md-8">
                    <label class="col-form-label">@Model.ProductOrder.ProductId</label>
                </div>
            </div>
        </div>

        <!-- Lege midden kolom -->
        <div class="col-md-1"></div>

        <!-- Rechter kolom -->
        <div class="col-md-7">
            <label>@Model.ProductOrder.Product.Name</label>
            <hr />

            @if (Model.ProductOrder.Product.SalesPrice != null)
            {
                <label class="col-form-label"><s>€@Model.ProductOrder.Product.Price</s> - <b>€@Model.ProductOrder.Product.SalesPrice</b></label>
            } else
            {
                <label class="col-form-label"><b>€@Model.ProductOrder.Product.Price</b></label>
            }

            <label class="form-control" id="productDescription" rows="4" cols="4">@Model.ProductOrder.Product.Description</label>
            <hr />

            @if (Model.ProductOrder.Product.Options != null && Model.ProductOrder.Product.Options.Count != 0)
            {
                @foreach (var option in @Model.ProductOrder.Product.Options)
                {
                    <div class="productOptionContainer">
                        <label for="productOption@(option.OptionId)">@option.Name</label>
                        <select class="form-select" id="productOption@(option.OptionId)" disabled>
                            @foreach (var optionValue in option.Values)
                            {
                                <option>@optionValue</option>
                            }
                        </select>
                    </div>
                }
            }

            <hr />
            <div class="col-md-12 d-flex">
                <div class="col-md-1">
                    <input asp-for="@Model.ProductOrder.ProductCount" class="form-control form-control-sm" type="number" step="1" min="1" max="99" id="productCount" value="1" />
                </div>
                <div class="col-md-11 ms-1">
                    <button class="btn btn-warning w-100" type="submit">Toevoegen aan winkelwagen</button>
                </div>
            </div>
        </div>
        @Html.HiddenFor(model => model.ProductOrder.ProductId)
        @Html.HiddenFor(model => model.ProductOrder.OrderId)
    }
</div>
